.money-details-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
}
.balance-container {
  background-color: #ecfccb;
  background-size: cover;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-right: 10px;
}
.money-symbol {
  width: 100px;
  height: 90px;
  margin: 25px;
}
.money-text {
  color: #475569;
  font-family: 'Roboto';
  font-size: 25px;
  line-height: 1.7;
  margin-bottom: 0px;
}
.money-details {
  color: #475569;
  font-family: 'Roboto';
  font-size: 25px;
  line-height: 1.3;
  margin: 0px;
}
.income-container {
  background-color: #cffafe;
  background-size: cover;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-right: 10px;
}
.expenses-container {
  background-color: #ede9fe;
  background-size: cover;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .money-details-container {
    display: flex;
    flex-direction: row;
  }
  .balance-container {
    width: 33%;
  }
  .income-container {
    width: 33%;
  }
  .expenses-container {
    width: 33%;
  }
}
